version: 2
jobs:
  build:
    docker:
      - image: oraclelinux:7
      - image: septimaps/oracle-12c-bootstrapped
    steps:
      - checkout
      - run:
          name: Setup Oracle Linux 7 with instant client and Python 3.6
          command: misc/oraclelinux/setup.sh
      - run:
          name: Execute init.sql
          command: |
            sqlplus64 -S system/oracle@//localhost:1521/xe @test/sql/init.sql
      - run:
          name: Execute 20181023.v0.4.FikspunktForvaltning.sql
          command: |
            sqlplus64 -S fire/fire@//localhost:1521/xe @test/sql/20181023.v0.4.FikspunktForvaltning.sql
      - run:
          name: Run tests
          command: |
            cd project
            ORA_USER=fire ORA_PASSWORD=fire ORA_HOST=oracledb pytest
