version: 2
jobs:
  build:
    docker:
      - image: oraclelinux:7
      - image: septimaps/oracle-12c-bootstrapped
    steps:
      - checkout
      - run:
          name: Setup Oracle Linux 7 with instant client and Python 3.6
          command: misc/oraclelinux/setup.sh
      - run:
          name: Execute init.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S system/oracle@//localhost:1521/xe @test/fixtures/sql/init.sql
      - run:
          name: Execute fikspunkt_forvaltning.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/fikspunkt_forvaltning.sql
      - run:
          name: Run tests
          command: |
            source $HOME/miniconda/bin/activate
            ORA_USER=fire ORA_PASSWORD=fire ORA_HOST=localhost pytest
