version: 2
jobs:
  build:
    docker:
      - image: septimaps/fikspunktsregister:ubuntu-18.04-devenv
      - image: septimaps/oracle-12c-bootstrapped
    steps:
      - checkout
      - run:
          name: Install deps
          command: apt-get -y install gawk
      - run:
          name: Sleep 15 seconds to allow Oracle DB to ready itself
          command: sleep 15
      - run:
          name: Execute init.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S system/oracle@//localhost:1521/xe @test/fixtures/sql/init.sql
      - run:
          name: Execute fikspunkt_forvaltning.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/fikspunkt_forvaltning.sql
      - run:
          name: Import test data
          command: |
            # Point to dir containing login.sql for sqlplus to accepts newlines in sql scripts. Sigh
            export ORACLE_PATH="`pwd`/misc/oracle"

            # Change OBJECTID column type to allow inserting IDs
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/pre_dataload.sql
            # Load data
            # EVENTTYPEs IS LOADED in the main DDL echo exit |  sqlplus64 -S fire/fire@//oracledb:1521/xe @test/fixtures/sql/data/FIRE_ADM.EVENTTYPE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SAG.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SAGSINFO.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SAGSEVENT.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SAGSEVENTINFO.sql
            # echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SAGSEVENTINFO_HTML.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SRIDNAMESPACE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.PUNKTINFOTYPE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SRIDNAMESPACE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.SRIDTYPE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.PUNKT.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.PUNKTINFOTYPENAMESPACE.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.PUNKTINFO.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.KOORDINAT.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.GEOMETRIOBJEKT.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.OBSERVATION.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.BEREGNING.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.BEREGNING_KOORDINAT.sql
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/data/FIRE_ADM.BEREGNING_OBSERVATION.sql
            # Change OBJECTID column type back to original setting
            echo exit |  sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/post_dataload.sql
      - run:
          name: Run tests
          command: |
            source /opt/conda/bin/activate fikspunktsregister
            ORA_USER=fire ORA_PASSWORD=fire ORA_HOST=localhost pytest
