version: 2
jobs:
  build:
    docker:
      - image: septimaps/fikspunktsregister:ubuntu-18.04-devenv
      - image: septimaps/oracle-12c-bootstrapped
    steps:
      - checkout
      - run:	
          name: Sleep 30 seconds to allow Oracle DB to ready itself
          command: sleep 30
      - run:
          name: Execute init.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S system/oracle@//localhost:1521/xe @test/fixtures/sql/init.sql
      - run:
          name: Execute fikspunkt_forvaltning.sql
          command: |
            ORACLE_PATH="${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/misc/oracle" sqlplus64 -S fire/fire@//localhost:1521/xe @test/fixtures/sql/fikspunkt_forvaltning.sql
      - run:
          name: Run tests
          command: |
            source /opt/conda/bin/activate fikspunktsregister
            ORA_USER=fire ORA_PASSWORD=fire ORA_HOST=localhost pytest
