name: Dokumentation

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
    - name: Installer Oracle instantclient et al
      run: |

        mkdir -p /opt/oracle
        cd /opt/oracle

        # Download links findes her: https://www.oracle.com/database/technologies/instant-client/linux-x86-64-downloads.html
        wget -nv https://download.oracle.com/otn_software/linux/instantclient/instantclient-basic-linuxx64.zip
        wget -nv https://download.oracle.com/otn_software/linux/instantclient/instantclient-sqlplus-linuxx64.zip

        unzip -o instantclient-basic-linuxx64.zip
        unzip -o instantclient-sqlplus-linuxx64.zip

        # Oracle koder versionsnummeret ind i mappenavnet, fx "instantclient_23_6", selv når man henter "latest"-pakken
        # Derfor omdøbes den som første skridt herunder.
        mv instantclient_* instantclient
        ls -la /opt/oracle/instantclient

        sudo apt-get install libaio1t64
        # Ubuntu har med version 24.04 ændret navnet på libaio1 pakken og tilhørende .so-fil.
        # Det har Oracle selvfølgelig ikke lige taget højde for, så vi hjælper lidt ved at pege
        # et symlink i retning af den nye .so-fil.
        sudo ln -s /usr/lib/x86_64-linux-gnu/libaio.so.1t64 /usr/lib/x86_64-linux-gnu/libaio.so.1

        sudo sh -c "echo /opt/oracle/instantclient > /etc/ld.so.conf.d/oracle-instantclient.conf"
        sudo ldconfig

        export LD_LIBRARY_PATH=/opt/oracle/instantclient:$LD_LIBRARY_PATH
        export PATH=/opt/oracle/instantclient:$PATH

        # Gem miljøvariable til brug i de følgende trin
        echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> "$GITHUB_ENV"
        echo "PATH=$PATH" >> "$GITHUB_ENV"

        which sqlplus
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda config --set always_yes yes --set changeps1 no
        conda update -q conda
        # Useful for debugging any issues with conda
        conda info -a
        #
        conda env create --file environment-dev.yml
        source activate fire-dev
        hash -r
        #
        # Install fire
        pip install -e .
        # Copy config file to suitable location
        cp test/ci/fire.ini ~/.fire.ini
        # Build docs
        sphinx-build -b html ./docs ./docs/_build
        # GitHub pages ignores folder starting with _, can be avoid by
        # adding a .nojekyll file
        touch ./docs/_build/.nojekyll
        #
    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/1.10'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build
        force_orphan: true
